{% extends 'base.html' %}
{% block title %}<TITLE>Средняя школа №130 | Минск | Платформа образовательного учреждения</TITLE>{% endblock %} 
{% block content %}   
{% load static %}

 <!-- ***** Main Banner Area Start ***** -->
 <section class="section main-banner" id="top" data-section="section1">
  <video autoplay muted loop id="bg-video">
      <source src="{% static 'Minsk130school/assets/images/course-video.mp4' type="video/mp4" /%}">
  </video>

  <div class="video-overlay header-text">
      <div class="caption">
          <h6>Школа №130 г.Минска имени Рут Уоллер</h6>
          <h2><em>Твоя</em> Школа</h2>
          <div class="main-button">
              <div class="scroll-to-section"><a href="#section2">Узнай больше</a></div>
          </div>
      </div>
  </div>
</section>
<!-- ***** Main Banner Area End ***** -->


<section class="features">
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-12">
      <div class="features-post">
        <div class="features-content">
          <div class="content-show">
            <h4><i class="fa fa-pencil"></i><a href="{% url 'news' %}">Новости</a></h4>
          </div>
          <div class="content-hide">
            <p>Размещение развёрнутых материалов о прошедших, состоявшихся событиях.</p>
            <p class="hidden-sm">Размещение развёрнутых материалов о прошедших, состоявшихся событиях.</p>
            <div class="scroll-to-section"><a href="#section2">Информация</a></div>    <!---->
        </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-12">
      <div class="features-post second-features">
        <div class="features-content">
          <div class="content-show">
            <h4><i class="fa fa-graduation-cap"></i><a href="{% url 'teachers' %}">Преподаватели</a></h4>
          </div>
          <div class="content-hide">
            <p>Чтобы быть хорошим преподавателем, нужно любить то, что преподаешь, и любить тех, кому преподаешь. Учитель — это человек, который выращивает две мысли там, где раньше росла одна.</p>
            <p class="hidden-sm">Чтобы быть хорошим преподавателем, нужно любить то, что преподаешь, и любить тех, кому преподаешь. Учитель — это человек, который выращивает две мысли там, где раньше росла одна.</p>
            <div class="scroll-to-section"><a href="#section3">Подробнее</a></div>
        </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-12">
      <div class="features-post third-features">
        <div class="features-content">
          <div class="content-show">
            <h4><i class="fa fa-book"></i>Платные Кружки</h4>
          </div>
          <div class="content-hide">
            <p>Деятельность по интересам это возможность развиваться в интересной для себя области, получить дополнительные знания, развивать навыки командной работы, чувство долга и ответственности; это возможность найти друзей, интересный круг общения, поддержать свою независимость и инициативность, и т.п.</p>
            <p class="hidden-sm">это возможность развиваться в интересной для себя области, получить дополнительные знания, развивать навыки командной работы, чувство долга и ответственности; это возможность найти друзей, интересный круг общения, поддержать свою независимость и инициативность, и т.п.</p>
            <div class="scroll-to-section"><a href="#section4">Читать Больше</a></div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section class="section why-us" data-section="section2">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="section-heading">
        <h2>Почему выбирают Школу им. Рут Уоллер?</h2>
      </div>
    </div>
    <div class="col-md-12">
      <div id='tabs'>
        <ul>
          <li><a href='#tabs-1'>Цели и задачи</a></li>
          <li><a href='#tabs-2'>Школа успеха</a></li>
          <li><a href='#tabs-3'>Школа развития</a></li>
        </ul>
        <section class='tabs-content'>
          <article id='tabs-1'>
            <div class="row">
              <div class="col-md-6">
                <img src="{% static 'Minsk130school/assets/images/choose-us-image-01.png' alt="" %}">
              </div>
              <div class="col-md-6">
                <h4>Цели и задачи</h4>
                <p>Цель: совершенствование образовательной среды, предоставляющей равные условия для раскрытия потенциала учащихся и их успешной 
                  социализации.
                  <br>
                  Задачи:
                  <br>
                  Обеспечить повышение качества образования.
                  <br>Повышение эффективности идеологической и воспитательной работы.
              </p>
              </div>
            </div>
          </article>
          <article id='tabs-2'>
            <div class="row">
              <div class="col-md-6">
                <img src="{% static 'Minsk130school/assets/images/choose-us-image-02.png' alt=""%}">
              </div>
              <div class="col-md-6">
                <h4>Школа успеха</h4>
                <p>Мы предлагаем детям принять участие в различных интеллектуальных конкурсах и спортивных соревнованиях.</p> 
                <p>Мы гордимся успехами наших учеников в республиканской олимпиаде по учебным предметам, в конкурсе исследовательских работ 
                  учащихся и других конкурсах.</p>
              </div>
            </div>
          </article>
          <article id='tabs-3'>
            <div class="row">
              <div class="col-md-6">
                <img src="{% static 'Minsk130school/assets/images/choose-us-image-03.png' alt=""%}">
              </div>
              <div class="col-md-6">
                <h4>Школа развития</h4>
                <p>Занятия в объединениях по интересам (кружках, секциях) – отличный вариант организации досуга школьника, 
                  так как позволяют развить творческие, спортивные, социальные способности ребенка, расширить сферу его интересов, 
                  дают возможность сменить вид деятельности, отдохнуть и проявить себя. Здесь каждый школьник сможет найти себе занятие по душе, приобрести новых друзей и единомышленников, сделать свой досуг интересным и незабываемым.</p>
              </div>
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>
</div>
</section>

<section class="section coming-soon" data-section="section3">
<div class="container">
  <div class="row">
    <div class="col-md-7 col-xs-12">
      <div class="continer centerIt">
        <div>
          <h4>Подать <em>заявку</em> на поступление</h4>
          <div class="counter">

            <div class="days">
              <div class="value">00</div>
              <span>Дни</span>
            </div>

            <div class="hours">
              <div class="value">00</div>
              <span>Часы</span>
            </div>

            <div class="minutes">
              <div class="value">00</div>
              <span>Минуты</span>
            </div>

            <div class="seconds">
              <div class="value">00</div>
              <span>Секунды</span>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="right-content">
        <div class="top-content">
          <h6>Заполните форму <em>заявки для поступления</em>  в нашу школу</h6>
        </div>
        <form id="contact" action="" method="get">
          <div class="row">
            <div class="col-md-12">
              <fieldset>
                <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required="">
              </fieldset>
            </div>
            <div class="col-md-12">
              <fieldset>
                <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" required="">
              </fieldset>
            </div>
            <div class="col-md-12">
              <fieldset>
                <input name="phone-number" type="text" class="form-control" id="phone-number" placeholder="Your Phone Number" required="">
              </fieldset>
            </div>
            <div class="col-md-12">
              <fieldset>
                <button type="submit" id="form-submit" class="button">Get it now</button>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</section>

<section class="section courses" data-section="section4">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="section-heading">
        <h2>Выберите кружок по интересам</h2>
      </div>
    </div>
    <div class="owl-carousel owl-theme">
    
     <div class="item">
        <img src="{% static '../media/circle_images/english.jpg' %}" alt="Course #2">
        <div class="down-content">
          <h4>Английский язык</h4>
          <p>Предлагаемый курс позволяет учащимся заглянуть в будущее и увидеть, как в той или иной профессии могут понадобиться умения и навыки, приобретенные ими в школе.</p>
          {% comment %} <div class="author-image">
            <img src="assets/images/author-02.png" alt="Author 2">
          </div>
          <div class="text-button-free">
            <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
          </div> {% endcomment %}
        </div>
      </div>
      <div class="item">
        <img src="{% static '../media/circle_images/sport.jpg' %}" alt="Course #3">
        <div class="down-content">
          <h4>Спортивные игры</h4>
          <p>Спортивные игры для детей – это величайший подарок, который взрослые могут сделать ребятам. Играя, ребенок укрепляет здоровье, развивает координацию, учится действовать в команде и получает массу положительных эмоций.</p>
          {% comment %} <div class="author-image">
            <img src="{% static 'media/circle_images/Planning-After-School-Activities.jpg' %}" alt="Author 3">
          </div>
          <div class="text-button-pay">
            <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
          </div> {% endcomment %}
        </div>
      </div>
      <div class="item">
        <img src="{% static '../media/circle_images/подготовка.jpg' %}" alt="Course #4">
        <div class="down-content">
          <h4>Подготовка к обучению в школе</h4>
          <p>Подготовить ребенка к поступлению в 1 класс непросто. Но мы вам поможем!</p>
          {% comment %} <div class="author-image">
            <img src="assets/images/author-04.png" alt="Author 4">
          </div>
          <div class="text-button-free">
            <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
          </div> {% endcomment %}
        </div>
      </div>
      <div class="item">
        <img src="{% static '../media/circle_images/Planning-After-School-Activities.jpg' %}" alt="">
        <div class="down-content">
          <h4>Юный художник</h4>
          <p>Содержание программы нацелено на формирование культуры творческой личности, на приобщение учащихся к общечеловеческим ценностям через собственное творчество и освоение опыта прошлого.</p>
          {% comment %} <div class="author-image">
            <img src="assets/images/author-05.png" alt="">
          </div>
          <div class="text-button-pay">
            <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
          </div> {% endcomment %}
        </div>
      </div>         
    </div>         
  </div>    
</div>
</section>


<section class="section video" data-section="section5">
<div class="container">
  <div class="row">
    <div class="col-md-6 align-self-center">
      <div class="left-content">
        <span>наша презентация для вас</span>
        <h4>Посмотрите видео чтобы узнать больше <em>о Школе им. Рут Уоллер</em></h4>
        <p>25 апреля 2016 года школе было присвоено имя  Рут Уоллер гражданки США, работавшей в Минске в 1946 году в рамках 
          гуманитарной миссии UNRRА - Администрации помощи и восстановления Объединенных Наций. Это открыло перед школой перспективы 
          международного сотрудничества.
          
          Был реализован инновационный проект "Внедрение модели Республиканского центра спортивной профориентации как компонента единого образовательного пространства в учреждениях образования.
        <br><br>Школа №130 г. Минска была открыта 1 сентября 2004 года.</p>
        <div class="main-button"><a rel="nofollow" href="https://t.me/sch130minsk" target="_parent">Mы в Telegram</a></div>
      </div>
    </div>
    <div class="col-md-6">
      <article class="video-item">
        <div class="video-caption">
          <h4>Школа им. Рут Уоллер</h4>
        </div>
        <figure>
          <iframe width="540" height="455.5" src="https://www.youtube.com/embed/1U55bO_2F20?autoplay=1" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen=""></iframe>
          {% comment %} <a href="https://www.youtube.com/embed/1U55bO_2F20?autoplay=1" class="play"><img src="{% static 'Minsk130school/assets/images/main-thumb.png'%}"></a> {% endcomment %}
        </figure>
      </article>
    </div>
  </div>
</div>
</section>

{% endblock %}   